.container {
    padding: 144px 0;

    gap: 20px;
}

.currenciesCard {
    grid-column: 1 / 13;
}

.createAppCard {
    grid-column: 1 / 6;
}

.statsCard {
    grid-column: 6 / 13;

    grid-row: 2 / 4;
}

.autoPaymentCard {
    grid-column: 1 / 8;
}

.anonymousPaymentsCard {
    grid-column: 8 / 13;
}

@media (max-width: 640px) {
    .container {
        padding: 80px 0;
    
        gap: 16px 20px;
    }

    .card {
        grid-column: 1 / 7;
    }

    .statsCard {
        grid-row: 4;
    }
}