.listContainer {
    display: flex;

    gap: 32px;
}

.button {
    border: none;
    background-color: transparent;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    cursor: pointer;
}