.container {
    padding: 16px;

    border-radius: 20px;

    background-color: var(--dark);
}

.container_part {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content {
    color: var(--white);
    white-space: pre-wrap;

    /* TO-DO */
    font-family: SF Mono, monospace;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.596px;
}

@media (max-width: 640px) {
    .content {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.409px;
    }

    .container {
        border-radius: 12px;
    }
    
    .container_part {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
}