.container {
    border: 0;
    background: transparent;

    width: 40px;
    height: 40px;

    transition: background-image .2s linear;

    cursor: pointer;
}

.light {
    background-image: url('/light-desktop.svg');
}

.dark {
    background-image: url('/dark-desktop.svg');
}

@media (max-width: 640px) {
    .light {
        background-image: url('/light-touch.svg');
    }
    
    .dark {
        background-image: url('/dark-touch.svg');
    }
}