.buttonsContainer {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 5px;
}

.fullWidth {
    grid-column: 1 / 3;
}

.message {
    margin-bottom: 5px;
}

@media (max-width: 640px) {
    .buttonsContainer {
        gap: 3.5px;
    }

    .message {
        margin-bottom: 3.5px;
    }
}